.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

#visibility {
  visibility: visible;
}

.sidebar {
  background: white;
  position: fixed;
  height: 100%;
  top: 50px;
  left: -40vw;
  overflow: auto;
  padding: 20px 30px;
  max-width: 320px;
  width: 40vw;
  transition: 0.3s;
  border-top: 0.5px solid rgb(236, 236, 236);
}

.shadow {
  position: fixex;
  top: 50px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
  cursor: pointer;
}

#visibility .sidebar {
  transition: 0.3s;
  left: 0;
}

#visibility .shadow {
  left: 0;
  background-color: rgba(17, 21, 24, 0.45);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.sidebar ul {
  list-style: none;
  font-size: larger;
}

.sidebar ul li {
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar ul li:hover {
  text-decoration: underline;
}
